# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/*.csv
data/*.sqlite

# Results directory
results/

# IDE specific files
*.vscode/
*.idea/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log